<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let advert of adverts">
    <div class="card text-center">
      <div class="card-header">
        <h4>Advert id: {{advert.id}}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">Product: {{advert.product.name}}</h5>
        <h4 class="card-title">Price: ${{advert.product.price}}</h4>
        <a href="#"><img class="card-img-top" src={{advert.product.pictureUrl}} alt=""></a>
        <div class="row">
          <div class="col-6 padding-0">
            <!--<button class="btn btn-primary" (click)="addToCart(advert)"-->
            <!--[disabled]="advert.quantity <= 0">Add To Cart-->
            <!--</button>-->
          </div>
          <div class="col-6 padding-0">
            <button class="btn btn-primary" (click)="deleteAdvert(advert)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
