<h1>Orders list</h1>
<div class="row card-deck" *ngFor="let order of orders">
  <div class="col-lg-10 col-md-10 mb-10">
    <div class="card text-center">
      <div class="card-header">
        <h4>Order #{{order.id}}</h4>
      </div>
      <div class="card-body">
        <ul>
          <li *ngFor="let advert of order.advertOrders">
            {{ advert.advert.product.name }} - ${{ advert.advert.product.price }} x {{ advert.quantity}}
          </li>
        </ul>
        <h4 class="text-right">Total amount: ${{ calculateTotal(order.advertOrders) }}</h4>
      </div>
    </div>
  </div>
</div>
