<h1>Orders list</h1>
<div class="row card-deck" *ngFor="let order of orders">
  <div class="col-lg-10 col-md-10 mb-10">
    <div class="card text-center">
      <div class="card-header">
        <h4>Order #{{order.id}}</h4>
      </div>
      <div class="card-body">
        <ul>
          <li *ngFor="let product of order.productOrders">
            {{ product.product.name }} - ${{ product.product.price }} x {{ product.quantity}} kg
          </li>
        </ul>
        <h3 class="text-right">Total amount: ${{ total }}</h3>
      </div>
    </div>
  </div>
</div>
